
    
    <!--###############################-->
    <!-- MENU GÓRNE ###################-->
    <!--###############################-->
    <header id="menu" class="navbar-fixed-top">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <nav class="navbar navbar-inverse" role="navigation" id="pasek_nawi">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#moje-menu">
                                <span class="sr-only">Nawigacja</span>
                                 <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse " id="moje-menu">
                            <ul class="nav navbar-nav" id="ul_nawigacja">
                                <li class="active"><a href="#"><h4>HOME</h4></a></li>
                                <li><a href="#onas"><h4>O NAS</h4></a></li>
                                <li><a href="#aktualnosci"><h4>AKTUALNOŚĆI</h4></a></li>
                                <li><a href="#zespol"><h4>ZESPÓŁ</h4></a></li>
                                <li><a href="#galeria"><h4>GALERIA</h4></a></li>
                                <li><a href="#kontakt"><h4>KONTAKT</h4></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!--###############################-->
    <!--Carousel ######################-->
    <!--###############################-->
     
    <div id="myCarousel"  class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        <img src="images/2.jpg" alt="...">
        <div class="carousel-caption">
          <p>dd</p>
        </div>
        </div>
        <div class="item">
        <img src="images/2.jpg" alt="...">
        <div class="carousel-caption">
           <p>dd</p>
        </div>
        </div>
         <div class="item">
        <img src="images/2.jpg" alt="...">
        <div class="carousel-caption">
           <p>dd</p>
        </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
     
           


    <!--###############################-->
    <!--NOWOŚCI #######################-->
    <!--###############################-->
    <section id="aktualnosci">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2><span class="naglowek_aktualnosci">AKTUALNOSCI</span></h2>
                    <h4>Goddzinny traning unkcjonalny z elamantami rytmiki.</h4>
                </div>
            </div>
            <div class="row">
                <div class="panel-group" id="menu_harmonijkowe">
                    <!--Aktualnośći 1 -->
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel aktualnosci_panel">
                        <div class="panel-heading">
                            <a href="#aktualosci_01" data-toggle="collapse" data-parent="menu_harmonijkowe">
                                <h3>Zapraszamy na traning.</h3>
                                <h6>Rafał Garbat 20.02.2017</h6>
                            </a>
                        </div>
                        <div id="aktualosci_01" class="panel-collapse collapse">
                            <div class="panel-body">
                                Goddzinny traning unkcjonalny z elamantami rytmiki.Goddzinny traning unkcjonalny z elamantami rytmiki.
                                    Goddzinny traning unkcjonalny z elamantami rytmiki.Goddzinny traning unkcjonalny z elamantami rytmiki.
                                    
                            </div>                      
                        </div>
                    </div>

                     <!--Aktualnośći 2 -->
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel aktualnosci_panel">
                        <div class="panel-heading">
                            <a href="#aktualosci_02" data-toggle="collapse" data-parent="menu_harmonijkowe">
                                <h3>Zapraszamy na traning.</h3>
                                <h6>Rafał Garbat 20.02.2017</h6>
                            </a>
                        </div>
                        <div id="aktualosci_02" class="panel-collapse collapse">
                            <div class="panel-body">
                                Goddzinny traning unkcjonalny z elamantami rytmiki.Goddzinny traning unkcjonalny z elamantami rytmiki.
                                    Goddzinny traning unkcjonalny z elamantami rytmiki.Goddzinny traning unkcjonalny z elamantami rytmiki.
                            </div>                      
                        </div>
                    </div>
                     <!--Aktualnośći 3 -->
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel aktualnosci_panel">
                        <div class="panel-heading">
                            <a href="#aktualosci_03" data-toggle="collapse" data-parent="menu_harmonijkowe">
                                <h3>Zapraszamy na traning.</h3>
                                <h6>Rafał Garbat 20.02.2017</h6>
                            </a>
                        </div>
                        <div id="aktualosci_03" class="panel-collapse collapse">
                            <div class="panel-body">
                                Goddzinny traning unkcjonalny z elamantami rytmiki.Goddzinny traning unkcjonalny z elamantami rytmiki.
                                    Goddzinny traning unkcjonalny z elamantami rytmiki.Goddzinny traning unkcjonalny z elamantami rytmiki.
                            </div>                      
                        </div>
                    </div>
                   <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <a href="#" class="btn btn-success btn-lg">zobacz wszystkie nowości</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <!--###############################-->
    <!--O NAS #########################-->
    <!--###############################-->
    
    <section id="onas">
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2><span class="naglowek_aktualnosci">O NAS</span></h2>
                    <h4>Goddzinny traning unkcjonalny z elamantami rytmiki.Goddzinny traning unkcjonalny z elamantami rytmiki</h4>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="thumbnail">
                        <img src="icons/Mail.png" class="img-responsive" alt="">
                        <h3>Trenujemy dla zabawy</h3>
                        <p>Goddzinny traning unkcjonalny z elamantami rytmiki.Goddzinny traning unkcjonalny z elamantami rytmiki.</p>
                    </div>
                </div>
                   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="thumbnail">
                        <img src="icons/Mail.png" class="img-responsive" alt="">
                        <h3>Trenujemy dla zabawy</h3>
                        <p>Goddzinny traning unkcjonalny z elamantami rytmiki.Goddzinny traning unkcjonalny z elamantami rytmiki</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="thumbnail">
                        <img src="icons/Mail.png" class="img-responsive" alt="">
                        <h3>Trenujemy dla zabawy</h3>
                        <p>Goddzinny traning unkcjonalny z elamantami rytmiki.Goddzinny traning unkcjonalny z elamantami rytmiki.</p>
                    </div>
                </div>
            </div>                
        </div>

    </section>


    
    <!--###############################-->
    <!--ZESPÓŁ#########################-->
    <!--###############################-->
    <section id="zespol">
        <!-- moze kiedyś wejdzie na strone-->
        <!--
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">      
                    <h3>Firma w liczbach:
                    <br>Sam oceń</h3>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">      
                    <h1>7</h1>
                    <h5>Osób w zespole</h5>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">      
                    <h1>788</h1>
                    <h5>Godzin kursów</h5>
                </div>                                
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">      
                    <h1>8325</h1>
                    <h5>Filmów wideo</h5>
                </div>                
            </div>
        </div>
        -->
        <div class="container">
             <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 naglowek">
                    <h2><span class="naglowek_aktualnosci">TEAM</span></h2>
                    <h4>Goddzinny traning unkcjonalny z elamantami rytmiki.Goddzinny traning unkcjonalny z elamantami rytmiki</h4>
                    <br>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">      
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#trenerzy" data-toggle="tab">TRENERZY</a></li>
                        <li><a href="#fotograf" data-toggle="tab">FOTOGRAF</a></li>
                        <li><a href="#czlonkowie" data-toggle="tab">CZŁONKOWIE</a></li>
                    </ul>
                </div>                
            </div>
        
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <hr>
                    <div class="tab-content zespol_ikonki">
                        <div class="tab-pane fade in active" id="trenerzy">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"> 
                                    <img src="images\twarz.jpg" alt="" class="img-responsive img-circle pull left zdjecia_zespolu">
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7"> 
                                    <h5>Trener</h5>
                                    <h3>Rafał GArbat</h3>
                                      <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis
                                    </p>
                                    <h2>
                                        <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
                                        <a href="#"><span class="glyphicon glyphicon-user"></span></a>
                                        <a href="#"><span class="glyphicon glyphicon-book"></span></a>
                                        <a href="#"><span class="glyphicon glyphicon-picture"></span></a>
                                    </h2>
                                </div>
                              </div>         
                            </div>
                        <div class="tab-pane fade" id="fotograf">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6"> 
                                    <img src="images\twarz.jpg" alt="" class="img-responsive img-circle pull left zdjecia_zespolu">
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6"> 
                                    <h5>Trener</h5>
                                    <h3>Rafał Garbat</h3>
                                        <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis
                                    </p>
                                    <h2>
                                        <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
                                        <a href="#"><span class="glyphicon glyphicon-user"></span></a>
                                        <a href="#"><span class="glyphicon glyphicon-book"></span></a>
                                        <a href="#"><span class="glyphicon glyphicon-picture"></span></a>
                                    </h2>
                                </div>
                            </div>         
                        </div>
                        <div class="tab-pane fade" id="czlonkowie">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6"> 
                                    <img src="images\twarz.jpg" alt="" class="img-responsive img-circle pull left zdjecia_zespolu">
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6"> 
                                    <h5>Trener</h5>
                                    <h3>Rafał Garbat</h3>
                                        <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis
                                    </p>
                                    <h2>
                                        <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
                                        <a href="#"><span class="glyphicon glyphicon-user"></span></a>
                                        <a href="#"><span class="glyphicon glyphicon-book"></span></a>
                                        <a href="#"><span class="glyphicon glyphicon-picture"></span></a>
                                    </h2>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6"> 
                                    <img src="images\twarz.jpg" alt="" class="img-responsive img-circle pull right zdjecia_zespolu">
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6"> 
                                    <h5>Trener</h5>
                                    <h3>Rafał Garbat</h3>
                                        <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis
                                    </p>
                                    <h2>
                                        <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
                                        <a href="#"><span class="glyphicon glyphicon-user"></span></a>
                                        <a href="#"><span class="glyphicon glyphicon-book"></span></a>
                                        <a href="#"><span class="glyphicon glyphicon-picture"></span></a>
                                    </h2>
                                </div>
                            </div>          
                        </div>        
                    </div> 
                </div>
            </div>
        </div>
    
    </section>

    <!--###############################-->
    <!--GALERIA#################-->
    <!--###############################-->
        <hr>
    <section id="galeria">
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2><span class="naglowek_aktualnosci">GALERIA</span></h2>
                    <h4>Goddzinny traning unkcjonalny z elamantami rytmiki.Goddzinny traning unkcjonalny z elamantami rytmiki</h4>
                </div>
            </div>               
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 galeria_zdjecia">
                    <a href="#zdjecie_01" data-toggle="modal"><img src="images/kursy/kurs_1_min.jpg" alt="" class="img-responsive img-rounded"></a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 galeria_zdjecia">
                    <a href="#zdjecie_01" data-toggle="modal"><img src="images/kursy/kurs_1_min.jpg" alt="" class="img-responsive img-rounded"></a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 galeria_zdjecia">
                    <a href="#zdjecie_01" data-toggle="modal"><img src="images/kursy/kurs_1_min.jpg" alt="" class="img-responsive img-rounded"></a>
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 galeria_zdjecia">
                    <a href="#zdjecie_01" data-toggle="modal"><img src="images/kursy/kurs_1_min.jpg" alt="" class="img-responsive img-rounded"></a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 galeria_zdjecia">
                    <a href="#zdjecie_01" data-toggle="modal"><img src="images/kursy/kurs_1_min.jpg" alt="" class="img-responsive img-rounded"></a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 galeria_zdjecia">
                    <a href="#zdjecie_01" data-toggle="modal"><img src="images/kursy/kurs_1_min.jpg" alt="" class="img-responsive img-rounded"></a>
                </div>
            </div>               
        </div>
    </section>

    
     
    <!--###############################-->
    <!--KONTAKT #######################-->
    <!--###############################-->

    <hr>
    <section id="kontakt">   
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <h2><span class="naglowek_aktualnosci">KONTAKT</span></h2>        
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div id="map-canvas" style="width:100%;height:300px;">
        
                    </div>
                    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnycWatbGyK6ldFqErjFtko1yeMclNUOA&amp;sensor=true"></script>   
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <h3>Napisz do nas</h3>        
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h5>Masz pytania</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad </p>
                    <h5>Nasz adres:</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                    <h5>Zadzwoń do nas!</h5>
                    <h2>888 223 111 </h2>         
                </div>
                 <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="uzytkownik" class="control-label">Imię i nazwisko:</label>
                            <input type="text" class="form-control" name="uzytkownik" placeholder="Imię i nazwisko">
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">Email:</label>
                            <input type="text" class="form-control" name="email" placeholder="adres email: osoba@moj_serwer.pl">
                        </div>
                        <div class="form-group">
                            <label for="uwagi" class="control-label">Uwagi:</label>
                            <textarea class="form-control" name="uwagi" rows="4" title="Dzięki Państwa opiniom, nasze produkty będą jeszcze lepsze" data-toggle="tooltip" data-placement="top"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg">wyślij</button>
                        </div>
                    </form>        
                </div>
            </div>
        </div>

        
    </section>

    <!--###############################-->
    <!--STOPKA ########################-->
    <!--###############################-->
   <hr>
    <section id="stopka">
        <div class="container">
            <footer class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">       
                    <h4>Copyright 2017 &copy; CORETEAM.pl</h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <a href="#"><img src="icons/facebook.png" alt="" class="img-responsive"></a>
                    <a href="#"><img src="icons/googleplus.png" alt="" class="img-responsive"></a>
                    <a href="#"><img src="icons/twitter.png" alt="" class="img-responsive"></a>
                    <a href="#"><img src="icons/vimeo.png" alt="" class="img-responsive"></a>                 
                </div>
            </footer>
        </div>
    </section>


    <!--okna modalne galeri-->
    <!-- Modal -->
    <div class="modal fade" id="zdjecie_01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
            <img src="images/kursy/kurs_1.jpg" alt="" class="img-responsive img-rounded">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
  
    <!-- <script src="js/wlasny.js"></script> -->
      <script>
        function initialize() {
                    var mapOptions = {
                        center: new google.maps.LatLng(28.1823294, -82.352912),
                        zoom: 9,
                        mapTypeId: google.maps.MapTypeId.HYBRID,
                        scrollwheel: false,
                        draggable: false,
                        panControl: true,
                        zoomControl: true,
                        mapTypeControl: true,
                        scaleControl: true,
                        streetViewControl: true,
                        overviewMapControl: true,
                        rotateControl: true,
                    };
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
                }
        google.maps.event.addDomListener(window, 'load', initialize); 

    </script>
    
 
  
