body {
    font-family: 'Open Sans';
    color: #34495e;
    background-color: #ffffff
}

.btn-success {
    background-color: #fc4349;
    border-color: #fc4349;
    margin-top: 3rem
}

.btn-success.active, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success {
    background-color: #fc4349;
    border-color: #fc4349;
    margin-top: 3rem
}

h1, h2, h3, h4, h5, h6 {
    color: #5c6166;
    font-weight: 300
}

h1 {
    font-size: 6rem
}

h2 {
    font-size: 4rem;
    line-height: 6rem
}

h3 {
    font-size: 2.5rem;
    line-height: 3rem
}

h4 {
    font-size: 2rem;
    line-height: 3rem;
    color: #a4abb3
}

.naglowek_czerwony {
    color: #fc4349
}

a:hover {
    text-decoration: none
}

.glyphicon {
    color: #fc4349
}

#menu {
    background-color: #000000
}

.navbar {
    background-color: #000000;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2rem
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    margin-left: 5px;
    border: 1px solid transparent;
    line-height: 1rem
}

.navbar-inverse .navbar-nav > li > a:hover {
    display: block;
    color: #fc4349;
    border: 1px solid transparent;
    line-height: 1rem;
    border-radius: 4px;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    transition: all 0.9s ease
}

#myCarousel {
    padding-top: 9rem
}

.carousel .item {
    width: 100%;
    max-height: 900px
}

.carousel .item img {
    width: 100%
}

.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%
}

.carousel-caption {
    top: 100px;
    bottom: auto
}

.carousel-caption h1 {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 8rem;
    color: #ffffff
}

.carousel-caption p {
    font-size: 2.5rem;
    font-weight: 300;
    color: #ffffff
}

#aktualnosci {
    padding-top: 12rem;
    padding-bottom: 9rem;
    text-align: center
}

.aktualnosci_panel {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
    border-bottom: solid 1px #e5e5e5
}

.aktualnosci_panel:hover {
    background-color: #f7f8fa
}

.naglowek_aktualnosci {
    color: #ff0000
}

.naglowek {
    text-align: center
}

#aktualnosci a:hover {
    -webkit-animation: pulse .8s;
    animation: pulse .8s
}

#onas {
    padding-top: 12rem;
    padding-bottom: 9rem;
    text-align: center
}

.thumbnail {
    background-color: #fc4349;
    border-radius: 12px;
    padding: 2rem
}

.thumbnail h3 {
    color: #ffffff
}

.thumbnail p {
    font-size: 1.5rem;
    color: #ffffff
}

#zespol {
    padding-top: 12rem;
    padding-bottom: 9rem;
    text-align: center
}

.zespol_naglowek {
    padding-bottom: 5rem
}

.nav-pills > li {
    float: none;
    padding-left: 1rem;
    display: inline-block
}

.nav-pills > li > a {
    border: 1px solid #fc4349;
    color: #fc4349
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #ffffff;
    background-color: #fc4349
}

.nav-pills > li > a:hover {
    border: 1px solid #fc4349;
    background-color: #ffffff
}

.nav-pills {
    text-align: center;
    padding-bottom: 2rem
}

.zdjecia_zespolu {
    border: 1px solid #fc4349;
    margin: auto
}

.zespol_ikonki a:hover span {
    -webkit-animation: rubberBand .8s;
    animation: rubberBand .8s
}

#galeria {
    padding-top: 12rem;
    padding-bottom: 9rem;
    text-align: center
}

.galeria_zdjecia {
    padding-bottom: 1.5rem
}

#kontakt {
    padding-top: 12rem;
    padding-bottom: 12em;
    text-align: center
}

#stopka {
    padding-top: 5rem;
    padding-bottom: 6rem;
    text-align: left;
    background-color: #000000;
    color: #ffffff
}

#stopka h4 {
    color: #ffffff
}

#stopka img {
    float: right;
    margin-right: 2rem;
    width: 4rem
}